@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

@mixin fira-code-font-family($_weight: 500) {
  font-family: "Fira Code", monospace;
  font-weight : $_weight;
}

$firacode-font-family: 'Fira Code', monospace;

$monospace-fontstack: $firacode-font-family;


pre, code, pre code, samp, var, output, kbd {
  font-family : $monospace-fontstack;
}

.install-instructions {
  margin-left : 0 !important;
  margin-right : 0 !important;
  width : 100% !important;
  padding-left : 0 !important;
  padding-right : 0 !important;
  font-size : 18px !important;
  font-weight : 600;
  display : block !important;
  border: lightgray solid 1px;
  line-height : 1;

  padding : 0 !important;
  box-sizing: border-box !important;
  code {
    color: slateblue !important;
    box-sizing: border-box !important;
    margin-left : 0 !important;
    margin-right : 0 !important;
    width : 100% !important;
    padding-left : 0 !important;
    padding-right : 0 !important;
    font-size : 18px !important;
    font-weight : 600;
    display : block !important;
    border: lightgray solid 1px;
    line-height : 1;
  }
}

.scss-include-snippet {
  margin-left : 0;
  margin-right : 0;
  padding : 0;
}
